<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net48" />
  <package id="NAudio" version="1.9.0" targetFramework="net48" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net48" />
  <package id="NVorbis" version="0.9.1" targetFramework="net48" />
  <package id="VGAudio" version="2.2.1" targetFramework="net48" />
</packages>